@import "variable";

.header {
  background-color: $headerColor;
  height:6rem;
  .border-Bottom {
    background-color: $mainColor;
    height: 1.2rem;
    margin-bottom: 2rem;
  }
  .logo-container{
      width: 5rem;
      height: 4rem;
  }
}
.logo{
    width: 5rem;
    height: 4rem;
}