@import "variable";

.main {
  margin-top: 3rem;
}

.form {
  background-color: $mainColor;
  padding: 2rem;
  flex-basis: 60%;
  border-radius: 3px;
  .form-container {
    width: 80%;
    margin-right: 5%;
  }
  .form-label {
    margin: 1rem;
    padding: 3px;
    flex-basis: 20%;
    font-family: iranSanse;
  }
  .form-input {
    font-family: iranSanse;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  .action-btn {
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-family: iranSanse;
  }
  .success {
    background-color: $successColor;
    flex-basis: 60%;
  }
  .failure {
    background-color: $cancleColor;
    flex-basis: 30%;
  }
  .href {
    display: inline-block;
    font-family: iranSanse;
    padding: 5px 7px;
    color: $textColor;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
}
.width {
  width: 100%;
}

.company {
  background-color: $bgcompany;
  flex-basis: 30%;
}
.keyboard {
  width: 80%;
}
.key {
  background-color: $bgKeyboard;
  color: $bgKeyboardColor;
  text-align: center;

  margin: 12px;
  flex-basis: 14%;
  height: 2.4rem;
  font-family: iranSanse;
}

.company-info {
  width: 80%;
  margin-top: 2rem;
  .right-lbl {
    font-family: iranSanse;
  }
  .left-lbl {
    font-family: iranSanse;
    color: $leftlbl;
  }
}
