$mainColor:#FEC711;
$successColor:#0BA350;
$cancleColor:#C84043;
$secondFontColor:#999B9E;
$textColor:#111212;
$headerColor:#F3F4F9;
$bgKeyboard:#F0F0F0;
$bgKeyboardColor:#898989;
$bgcompany:#FFFFFF;
$leftlbl:#009937;